<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watermark Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="#" onclick="switchLanguage('en')">English</a> | <a href="#" onclick="switchLanguage('ko')">한국어</a>
    </nav>
    <h1 id="title">Watermark Application</h1>
    <div class="container">
        <div class="banner">
            <a href="{{ url_for('upload_image') }}">이미지 업로드</a>
        </div>
        <div class="banner">
            <a href="{{ url_for('upload_video') }}">비디오 업로드</a>
        </div>
    </div>
</body>
</html>
